[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker run --rm --name %n polvi/simple-amb $COREOS_PRIVATE_IPV4:4001
ExecStop=/usr/bin/docker stop -t 3 %n

[X-Fleet]
X-Conflicts=redis-demo.service
